<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %> 
    <title>SignUp</title>
</head>
<body>
  <% if (locals.error) { %>
    <div class="alert alert-danger" role="alert">
      Inavlid Email or Password!
    </div>
  <% } %>
    <%- include('./partials/navbar') %> 
    <div class="container mt-4">
        <form action="/user/signin" method="post">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            
            <button type="submit" class="btn btn-primary">Signin</button>
          </form>
    </div>
    <%- include('./partials/scripts') %>
</body>
</html>